@import 'includes/reset';
.rotate {
  transform: rotate(90deg);
  transform-origin: bottom left;

  position: absolute;
  top: -100%;
  left: 0;

  height: 100%;
  width: 135%;
  border: 1px solid black;
  overflow: auto;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
}

.container {
  padding: 80px 64px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid black;
}
.row {
  &:not(:last-of-type) {
    margin-bottom: 40px;
  }
  display: flex !important;
  flex-wrap: none;
  position: relative;
}
.header {
  margin-bottom: 64px;
}

.group {
  &:not(:last-of-type) {
    margin-right: 72px;
  }
  span.label {
    font-size: 24px;
    margin-bottom: 12px;
    display: block;
  }
  span.temperature {
    font-size: 64px;
    display: block;
    &.big {
      font-size: 184px;
    }
  }
}
